# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.apk
*.aab
*.jks
*.keystore
.gradle/
local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/ios/Flutter/.last_build_id

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Test
coverage/

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart
